In [2]:
base_url = "."

In [3]:
from dataverk import Client, Datapackage

In [4]:
dv = Client(base_url)

In [5]:
df = dv.read_json_stat("https://data.ssb.no/api/v0/no/table/01223")

2019-09-09T08:27:28.842914: V153753 https://data.ssb.no/api/v0/no/table/01223

In [6]:
df.head()

        region    statistikkvariabel kvartal (u)      value
0  Hele landet  Befolkning 1. januar      1997K4  4392714.0
1  Hele landet  Befolkning 1. januar      1998K2  4417599.0
2  Hele landet  Befolkning 1. januar      1998K3  4417599.0
3  Hele landet  Befolkning 1. januar      1998K4  4417599.0
4  Hele landet  Befolkning 1. januar      1999K2  4445329.0